@page "/"
@inherits MultilevelDropdownMenu.Models.MenuItemList

<h3>MultilevelDropdown</h3>
<ul class="nav">
    @foreach (var item in MenuItems)
    {
        <MultilevelDropdown MenuItem="@item"></MultilevelDropdown>
    }
</ul>

@code {
    
}
