@page "/"
@inherits MultilevelDropdownMenu.Models.MenuItemList

<h3>MultilevelDropdown</h3>
<ul class="nav">
    @foreach (var item in MenuItems)
    {
        <MultilevelDropdown MenuItem="@item"></MultilevelDropdown>
    }
</ul>

<BSDropdown Class="mt-4">
    <BSDropdownToggle Color="Color.Primary">Level 1</BSDropdownToggle>
    <BSDropdownMenu>
        <BSDropdownItem Href="javascript:void(0);" @onclick='(() => ShowSelectedMenuItem("Action"))'>Action</BSDropdownItem>
        <BSDropdownItem Href="javascript:void(0);">Another Action</BSDropdownItem>
        <BSDropdownItem Href="javascript:void(0);">Yet Another Action</BSDropdownItem>
        <BSDropdown>
            <BSDropdownToggle IsLink="true" Color="Color.Secondary">Level 2</BSDropdownToggle>
            <BSDropdownMenu>
                <BSDropdownItem Href="javascript:void(0);">Action</BSDropdownItem>
                <BSDropdownItem Href="javascript:void(0);">Another Action</BSDropdownItem>
                <BSDropdownItem Href="javascript:void(0);">Yet Another Action</BSDropdownItem>
                <BSDropdown>
                    <BSDropdownToggle IsLink="true" Color="Color.Secondary">Level 3</BSDropdownToggle>
                    <BSDropdownMenu>
                        <BSDropdownItem Href="javascript:void(0);">Action</BSDropdownItem>
                        <BSDropdownItem Href="javascript:void(0);">Another Action</BSDropdownItem>
                        <BSDropdownItem Href="javascript:void(0);">Yet Another Action</BSDropdownItem>
                        <BSDropdown>
                            <BSDropdownToggle IsLink="true" Color="Color.Secondary">Level 4</BSDropdownToggle>
                            <BSDropdownMenu>
                                <BSDropdownItem Href="javascript:void(0);">Action</BSDropdownItem>
                                <BSDropdownItem Href="javascript:void(0);">Another Action</BSDropdownItem>
                                <BSDropdownItem Href="javascript:void(0);" @onclick='(() => ShowSelectedMenuItem("Yet Another Action"))'>Yet Another Action</BSDropdownItem>
                            </BSDropdownMenu>
                        </BSDropdown>
                    </BSDropdownMenu>
                </BSDropdown>
            </BSDropdownMenu>
        </BSDropdown>
    </BSDropdownMenu>
</BSDropdown>

@code {
    private string selectedMenuItem = "";

    private void ShowSelectedMenuItem(string selectedItem)
    {
        //bSDropdownMenu.Toggle();
        selectedMenuItem = selectedItem;
    }
}
