@if (MenuItem.Children != null && MenuItem.Children.Any())
{
<li class="nav-item">
    <BSDropdown>
        <MenuItemComponent Item=@MenuItem @key=MenuItem />
    </BSDropdown>
</li>
} else
{
    <li class="nav-item">
        <a class="btn" href="#">@MenuItem.Label</a>
    </li>
}

@code {
    //BlazorStrap.BSDropdownMenu bSDropdownMenu;
    [Parameter] public MultilevelDropdownMenu.Models.MenuItem MenuItem { get; set; }

    private string selectedMenuItem = "";
    

    private void ShowSelectedMenuItem(string selectedItem)
    {
        //bSDropdownMenu.Toggle();
        selectedMenuItem = selectedItem;
    }

    
}
